
.t_socis {
    border: 1px solid black ;
    width: 100% ;
}
.t_socis th {
    background-color: #C0C0C0 ;
}
.t_socis td {
    padding-left: 10px ;
}
.t_soci_aturat  { background-color: #FFCC99 ; }
.t_soci_working { background-color: #CCFF99 ; }

.inici_links {
    background-color: #800000 ;
    color: white ;
    border: 2px solid yellow ;
    text-align: right ;
    padding: 5px ;
}
.inici_links a {
    color: white ;
}

.txt_ajuda {
    background-color: #A0A0A0 ;
    color: black ;
    border: 1px solid red ;
    padding: 10px ;
    font-size: 24px ;
}

html, body {
    margin: 0 ;
    padding: 0 ;
}

h1, h2, h3 {
    text-align: center ;
    font-size: 24px ;
}

body {
    margin-left: 2px ;
    margin-right: 2px ;
    padding-left: 5px ;
    padding-right: 5px ;
}

body {
    font-size: 14px ;
    font-family: Verdana, Arial, Courier, sans-serif ;
    border: 1px solid yellow ;
    color: black ;
    background-color: #F0F0F0 ;
    margin: 1px ;
}
